<section class="section technologies py-5">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .content.title }}
        <div class="col-8">
          <h3 class="fs-5 fw-semibold text-primary text-center pb-4">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row justify-content-center align-items-center">      
      {{ range .content.items }}
      <div class="d-flex justify-content-center col col-md-1 col-sm-2 px-3 my-2">
        {{ partial "utilities/image-third.html" . }}
      </div>
      {{ end }}
    </div>
    <!-- <div class="row align-items-center justify-content-center">
      {{ with .content.image }}
      <div class="col-12 px-3 my-2 text-center">
        {{ partial "utilities/image-third.html" . }}
      </div>
      {{ end }}
    </div> -->
  </div>
</section>
